@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
}
/* carousel.css */
.carousel-container {
    width: 80%;
    margin: 0 auto;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    padding: 20px;
    text-align: center;
}

.item-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.item-image {
    max-width: 100px;
    margin-top: 10px;
}

.selected-set {
    margin-top: 20px;
    text-align: center;
}

.slider-btn {
    background: rgb(255, 217, 91);
    background: linear-gradient(90deg, rgba(255, 217, 91, 1) 15%, rgba(103, 244, 207, 1) 52%, rgba(179, 75, 247, 1) 100%);
}

.slider-btn:hover {
    background: rgb(255, 217, 91);
    background: linear-gradient(90deg, rgba(255, 217, 91, 1) 28%, rgba(179, 75, 247, 1) 56%, rgba(103, 244, 207, 1) 87%);
}

/* .control-panel {
    box-shadow: 6px 63px 101px -40px rgba(0,0,0,0.17) !important;
    -webkit-box-shadow: 6px 63px 101px -40px rgba(0,0,0,0.17) !important;
    -moz-box-shadow: 6px 63px 101px -40px rgba(0,0,0,0.17) !important;
} */

.loop-slider .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    /* // Must used margin-right instead of gap for the loop to be smooth */
    box-shadow:
      0 0.1rem 0.2rem rgb(0 0 0 / 20%),
      0 0.1rem 0.5rem rgb(0 0 0 / 30%),
      0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  
  
  }
  
  .tag .span {
    font-size: 1.2rem;
    color: #64748b;
  }
  
  .fade {
    pointer-events: none;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    position: absolute;
    inset: 0;
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }

  .svg {
    width: 16px;
  }

  .tick,
  .circle {
    transform-origin: center;
  }

  .tick {
    animation: grow 0.8s ease-in-out forwards;
  }

  @keyframes grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 0.5s linear;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }